---
http_interactions:
- request:
    method: get
    uri: https://rdap.db.ripe.net/entity/KNOC3-RIPE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "handle" : "KNOC3-RIPE",
          "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "Krystal NOC" ], [ "kind", { }, "text", "group" ], [ "adr", {
            "label" : "Alta Vista, Hr Warberry Rd, Torquay, Devon, TQ1 1SD"
          }, "text", [ "", "", "", "", "", "", "" ] ], [ "email", {
            "type" : "email"
          }, "text", "noc@krystal.co.uk" ] ] ],
          "entities" : [ {
            "handle" : "KRYS1-RIPE",
            "roles" : [ "administrative", "technical" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "KRYS2-RIPE",
            "roles" : [ "administrative", "technical" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "KRYSTAL-MNT",
            "roles" : [ "registrant" ],
            "objectClassName" : "entity"
          } ],
          "links" : [ {
            "value" : "https://rdap.db.ripe.net/entity/KNOC3-RIPE",
            "rel" : "self",
            "href" : "https://rdap.db.ripe.net/entity/KNOC3-RIPE"
          }, {
            "value" : "http://www.ripe.net/data-tools/support/documentation/terms",
            "rel" : "copyright",
            "href" : "http://www.ripe.net/data-tools/support/documentation/terms"
          } ],
          "events" : [ {
            "eventAction" : "last changed",
            "eventDate" : "2007-03-12T18:13:45Z"
          } ],
          "rdapConformance" : [ "rdap_level_0" ],
          "notices" : [ {
            "title" : "Filtered",
            "description" : [ "This output has been filtered." ]
          }, {
            "title" : "Source",
            "description" : [ "Objects returned came from source", "RIPE" ]
          }, {
            "title" : "Terms and Conditions",
            "description" : [ "This is the RIPE Database query service. The objects are in RDAP format." ],
            "links" : [ {
              "value" : "https://rdap.db.ripe.net/entity/KNOC3-RIPE",
              "rel" : "terms-of-service",
              "href" : "http://www.ripe.net/db/support/db-terms-conditions.pdf",
              "type" : "application/pdf"
            } ]
          } ],
          "port43" : "whois.ripe.net",
          "objectClassName" : "entity"
        }
  recorded_at: Thu, 19 May 2022 14:15:23 GMT
- request:
    method: get
    uri: https://rdap.db.ripe.net/entity/KRYS1-RIPE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "handle" : "KRYS1-RIPE",
          "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "Simon Blackler" ], [ "kind", { }, "text", "ind[...]
[...]
- request:
    method: get
    uri: https://rdap.db.ripe.net/entity/KRYSTAL-MNT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "handle" : "KRYSTAL-MNT",
          "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "KRYSTAL-MNT" ], [ "kind", { }, "text", "individual" ] ] ],
          "entities" : [ {
            "handle" : "KNOC3-RIPE",
            "roles" : [ "administrative" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "KRYSTAL-MNT",
            "roles" : [ "registrant" ],
            "objectClassName" : "entity"
          } ],
          "remarks" : [ {
            "description" : [ "Maintainer" ]
          } ],
          "links" : [ {
            "value" : "https://rdap.db.ripe.net/entity/KRYSTAL-MNT",
            "rel" : "self",
            "href" : "https://rdap.db.ripe.net/entity/KRYSTAL-MNT"
          }, {
            "value" : "http://www.ripe.net/data-tools/support/documentation/terms",
            "rel" : "copyright",
            "href" : "http://www.ripe.net/data-tools/support/documentation/terms"
          } ],
          "events"[...]
