---
http_interactions:
- request:
    method: get
    uri: https://rdap.db.ripe.net/ip/185.22.208.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "handle" : "185.22.208.0 - 185.22.211.255",
          "startAddress" : "185.22.208.0",
          "endAddress" : "185.22.211.255",
          "ipVersion" : "v4",
          "name" : "UK-KRYSTAL-20130403",
          "type" : "ALLOCATED PA",
          "country" : "GB",
          "parentHandle" : "0.0.0.0 - 255.255.255.255",
          "entities" : [ {
            "handle" : "KNOC3-RIPE",
            "roles" : [ "technical" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "KRYS1-RIPE",
            "roles" : [ "administrative" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "KRYSTAL-MNT",
            "roles" : [ "registrant" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "ORG-KSL2-RIPE",
            "roles" : [ "registrant" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "RIPE-NCC-HM-MNT",
            "roles" : [ "registrant" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "KRYS5-RIPE",
            "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "Krystal Abuse" ], [ "kind", { }, "text", "group" ], [ "adr", {
              "label" : "Kemp House 152 - 160 City Road London EC1V 2N"
            }, "text", [ "", "", "", "", "", "", "" ] ], [ "email", {
              "type" : "email"
            }, "text", "abuse@krystal.uk" ], [ "email", {
              "type" : "abuse"
            }, "text", "abuse@krystal.uk" ] ] ],
            "roles" : [ "abuse" ],
            "entities" : [ {
              "handle" : "KRYSTAL-MNT",
              "roles" : [ "registrant" ],
              "objectClassName" : "entity"
            } ],
            "objectClassName" : "entity"
          } ],
          "links" : [ {
            "value" : "https://rdap.db.ripe.net/ip/185.22.208.0",
            "rel" : "self",
            "href" : "https://rdap.db.ripe.net/ip/185.22.208.0"
          }, {
            "value" : "http://www.ripe.net/data-tools/support/documentation/terms",
            "rel" : "copyright",
            "href" : "http://www.ripe.net/data-tools/support/documentation/terms"
          } ],
          "events" : [ {
            "eventAction" : "last changed",
            "eventDate" : "2021-02-05T10:22:35Z"
          } ],
          "rdapConformance" : [ "rdap_level_0" ],
          "notices" : [ {
            "title" : "Filtered",
            "description" : [ "This output has been filtered." ]
          }, {
            "title" : "Source",
            "description" : [ "Objects returned came from source", "RIPE" ]
          }, {
            "title" : "Terms and Conditions",
            "description" : [ "This is the RIPE Database query service. The objects are in RDAP format." ],
            "links" : [ {
              "value" : "https://rdap.db.ripe.net/ip/185.22.208.0",
              "rel" : "terms-of-service",
              "href" : "http://www.ripe.net/db/support/db-terms-conditions.pdf",
              "type" : "application/pdf"
            } ]
          } ],
          "port43" : "whois.ripe.net",
          "objectClassName" : "ip network"
        }
  recorded_at: Thu, 19 May 2022 14:13:14 GMT
- request:
    method: get
    uri: https://rdap.db.ripe.net/entity/KNOC3-RIPE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "handle" : "KNOC3-RIPE",
          "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "Krystal NOC" ], [ "kind", { }, "text", "group"[...]
- request:
    method: get
    uri: https://rdap.db.ripe.net/entity/KRYS1-RIPE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "handle" : "KRYS1-RIPE",
          "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "Simon Blackler" ], [ "kind", { }, "text", "ind[...]
- request:
    method: get
    uri: https://rdap.db.ripe.net/entity/KRYSTAL-MNT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "handle" : "KRYSTAL-MNT",
          "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "KRYSTAL-MNT" ], [ "kind", { }, "text", "individual" ] ] ],
          "entities" : [ {
            "handle" : "KNOC3-RIPE",
            "roles" : [ "administrative" ],
            "objectClassName" : "entity"
          }, {
            "handle" : "KRYSTAL-MNT",
            "roles" : [ "registrant" ],
            "objectClassName" : "entity"
          } ],
          "remarks" : [ {
            "description" : [ "Maintainer" ]
          } ],
          "links" : [ {
            "value" : "https://rdap.db.ripe.net/entity/KRYSTAL-MNT",
            "rel" : "self",
            "href" : "https://rdap.db.ripe.net/entity/KRYSTAL-MNT"
          }, {
            "value" : "http://www.ripe.net/data-tools/support/documentation/terms",
            "rel" : "copyright",
            "href" : "http://www.ripe.net/data-tools/support/documentation/terms"
          } ],
          "events"[...]
- request:
    method: get
    uri: https://rdap.db.ripe.net/entity/ORG-KSL2-RIPE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "handle" : "ORG-KSL2-RIPE",
          "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "Krystal Hosting Ltd" ], [ "kind", { }, "[...]
- request:
    method: get
    uri: https://rdap.db.ripe.net/entity/RIPE-NCC-HM-MNT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "handle" : "RIPE-NCC-HM-MNT",
          "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "RIPE-NCC-HM-MNT" ], [ "kind", { }, "[...]
[...]
