---
http_interactions:
- request:
    method: get
    uri: https://rdap.db.ripe.net/ip/8.8.8.8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://rdap.arin.net/registry/ip/8.8.8.8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 May 2022 14:01:47 GMT
- request:
    method: get
    uri: https://rdap.arin.net/registry/ip/8.8.8.8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/rdap+json
    body:
      encoding: UTF-8
      string: |-
        {
          "rdapConformance" : [ "nro_rdap_profile_0", "rdap_level_0", "cidr0", "arin_originas0" ],
          "notices" : [ {
            "title" : "Terms of Service",
            "description" : [ "By using the ARIN RDAP/Whois service, you are agreeing to the RDAP/Whois Terms of Use" ],
            "links" : [ {
              "value" : "https://rdap.arin.net/registry/ip/8.8.8.8",
              "rel" : "terms-of-service",
              "type" : "text/html",
              "href" : "https://www.arin.net/resources/registry/whois/tou/"
            } ]
          }, {
            "title" : "Whois Inaccuracy Reporting",
            "description" : [ "If you see inaccuracies in the results, please visit: " ],
            "links" : [ {
              "value" : "https://rdap.arin.net/registry/ip/8.8.8.8",
              "rel" : "inaccuracy-report",
              "type" : "text/html",
              "href" : "https://www.arin.net/resources/registry/whois/inaccuracy_reporting/"
            } ]
          }, {
            "title" : "Copyright Notice",
            "description" : [ "Copyright 1997-2022, American Registry for Internet Numbers, Ltd." ]
          } ],
          "handle" : "NET-8-8-8-0-1",
          "startAddress" : "8.8.8.0",
          "endAddress" : "8.8.8.255",
          "ipVersion" : "v4",
          "name" : "LVLT-GOGL-8-8-8",
          "type" : "ALLOCATION",
          "parentHandle" : "NET-8-0-0-0-1",
          "events" : [ {
            "eventAction" : "last changed",
            "eventDate" : "2014-03-14T16:52:05-04:00"
          }, {
            "eventAction" : "registration",
            "eventDate" : "2014-03-14T16:52:05-04:00"
          } ],
          "links" : [ {
            "value" : "https://rdap.arin.net/registry/ip/8.8.8.8",
            "rel" : "self",
            "type" : "application/rdap+json",
            "href" : "https://rdap.arin.net/registry/ip/8.8.8.0"
          }, {
            "value" : "https://rdap.arin.net/registry/ip/8.8.8.8",
            "rel" : "alternate",
            "type" : "application/xml",
            "href" : "https://whois.arin.net/rest/net/NET-8-8-8-0-1"
          }, {
            "value" : "https://rdap.arin.net/registry/ip/8.8.8.8",
            "rel" : "up",
            "type" : "application/rdap+json",
            "href" : "https://rdap.arin.net/registry/ip/8.0.0.0/9"
          } ],
          "entities" : [ {
            "handle" : "GOGL",
            "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "Google LLC" ], [ "adr", {
              "label" : "1600 Amphitheatre Parkway\nMountain View\nCA\n94043\nUnited States"
            }, "text", [ "", "", "", "", "", "", "" ] ], [ "kind", { }, "text", "org" ] ] ],
            "roles" : [ "registrant" ],
            "remarks" : [ {
              "title" : "Registration Comments",
              "description" : [ "Please note that the recommended way to file abuse complaints are located in the following links. ", "", "To report abuse and illegal activity: https://www.google.com/contact/", "", "For legal requests: http://support.google.com/legal ", "", "Regards, ", "The Google Team" ]
            } ],
            "links" : [ {
              "value" : "https://rdap.arin.net/registry/ip/8.8.8.8",
              "rel" : "sel[...]
